@import url("https://fonts.googleapis.com/css?family=Tomorrow&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(46, 49, 49, 1);
  color: rgba(236, 236, 236, 1);
  font-family: "Tomorrow", sans-serif;
}

.horizontal-scroll {
  flex-wrap: nowrap;
  overflow-x: auto;
}

.profile-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 50% 10%;
  border-radius: 50%;
}

.green-text {
  color: #5db293;
}

.green-text:hover {
  color: #5db293;
}

.bg-green {
  background-color: #5db293;
}

.img-link {
  position: absolute;
  bottom: 10px;
  right: 30px;
  color: rgba(46, 49, 49, 1);
}

.img-link:hover {
  color: rgba(46, 49, 49, 1);
}

.img-link-fd {
  position: absolute;
  bottom: 0px;
  right: 1px;
  color: rgba(46, 49, 49, 1);
}

.img-link-fd:hover {
  color: rgba(46, 49, 49, 1);
}

.bg-smoke {
  background-color: rgba(236, 236, 236, 1);
}

.shadow-img {
  box-shadow: 1px 1px 4px -1px rgba(236, 236, 236, 1);
}

.header-height {
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  .img-header img {
    width: 250px;
    height: 250px;
  }

  .h1-header {
    font-size: 40px;
    margin-bottom: 0;
  }

  .header-height {
    height: 80vh;
  }

  .img-work img {
    height: 250px;
    width: 300px;
  }
}
